<div class="testbox" style="margin-top: 190px;">
    <div class="container">
        <div class="row ">
            <div class="col ">
                <img src="../images/spring-MVC.png" class="img-circle" style="margin-left: 80px" alt="Cinque Terre" width="200" height="120"> 
            </div>
            <div class="col-6">
                <h1 class="sansserif">Développeur Java EE Junior</h1>
                <h1 class="serif"> SpringMVC/Angular</h1>
            </div>
            <div class="col pull-right">
               <img src="../images/angular.jpg" class="img-circle" style="margin-top: 20px" alt="Cinque Terre" width="120" height="100"> 
            </div>
        </div> 
    </div>
    <div class="div-span">
        <span class="span-style">Coordonnées</span>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-4 ">
                 <img src="../images/nazih.png" class="img-circle" style="margin-left: 40px" alt="Cinque Terre" width="250" height="260"> 
            </div>
            <div class="col-2">
                <h1 class="titre1" style="text-align:left">Nom : </h1>
                <h1 class="titre1" style="text-align:left">Adresse : </h1>
                <h1 class="titre1" style="text-align:left">Email : </h1>
                <h1 class="titre1" style="text-align:left">Tél :</h1>
                <h1 class="titre1" style="text-align:left">Permis :</h1>
           </div>
           <div class="col">
               <h1 class="titre2" style="text-align:left"> HAMILA Nazih.</h1>
              <h1 class="titre2" style="text-align:left"> 108 Rue de Saussure, 75017 Paris.</h1>
              <h1 class="titre2" style="text-align:left"> hamila90.nezih@gmail.com.</h1>
              <h1 class="titre2" style="text-align:left"> 06 01 45 51 10.</h1>
             <h1 class="titre2" style="text-align:left"> B.</h1>
         </div>
      </div>
  </div>
  <div class="div-span">
        <span class="span-style">Compétences</span>
  </div>
  <div class="container">
    <div class="row ">
      <div class="col-2" style="margin-left: 40px">
         <h1 class="serif" style="text-align:left"> Java SE</h1>
      </div>
      <div class="col-2 ">
          <img src="../images/java-se.png" class="img-circle" alt="Cinque Terre" width="50" height="50"> 
      </div>
      <div class="col-6">
          <div class="progress" style="margin-top: 20px; background-color:white">
               <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    60%
              </div>
          </div>
     </div>
     <div class="col-2" style="margin-left: 40px">
             <h1 class="serif" style="text-align:left"> Java EE</h1>
    </div>
    <div class="col-2 ">
             <img src="../images/j2ee.png" class="img-circle" alt="Cinque Terre" width="50" height="50"> 
    </div>
    <div class="col-6">
      <div class="progress" style="margin-top: 20px; background-color:white">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    50%
            </div>
        </div>
    </div>
    <div class="col-2" style="margin-left: 40px">
        <h1 class="serif" style="text-align:left"> SpringMVC</h1>
     </div>
    <div class="col-2 ">
        <img src="../images/spring-MVC.png" class="img-circle" alt="Cinque Terre" width="90" height="70"> 
    </div>
    <div class="col-6">
      <div class="progress" style="margin-top: 20px; background-color:white">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                   50%
            </div>
        </div>
    </div>
    <div class="col-2" style="margin-left: 40px">
               <h1 class="serif" style="text-align:left"> AngularJS</h1>
      </div>
    <div class="col-2 ">
        <img src="../images/angularJs.png" class="img-circle" alt="Cinque Terre" width="50" height="50"> 
    </div>
    <div class="col-6">
      <div class="progress" style="margin-top: 20px; background-color:white">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                  60%
            </div>
        </div>
    </div>
    <div class="col-2" style="margin-left: 40px">
        <h1 class="serif" style="text-align:left"> Angular 2</h1>
      </div>
    <div class="col-2 ">
        <img src="../images/angular2.png" class="img-circle" alt="Cinque Terre" width="50" height="50"> 
    </div>
    <div class="col-6">
      <div class="progress" style="margin-top: 20px; background-color:white">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            50%
            </div>
        </div>
    </div>
    <div class="col-2" style="margin-left: 40px">
        <h1 class="serif" style="text-align:left"> Hibernate</h1>
      </div>
    <div class="col-2 ">
        <img src="../images/Logo_Hibernate.png" class="img-circle" alt="Cinque Terre" width="100" height="50"> 
    </div>
    <div class="col-6">
      <div class="progress" style="margin-top: 20px; background-color:white">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 45%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            45%
            </div>
        </div>
    </div>
    <div class="col-2" style="margin-left: 40px">
        <h1 class="serif" style="text-align:left"> HTML5</h1>
      </div>
    <div class="col-2 ">
        <img src="../images/HTML5_Logo_256.png" class="img-circle" alt="Cinque Terre" width="50" height="50"> 
    </div>
    <div class="col-6">
      <div class="progress" style="margin-top: 20px; background-color:white">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            60%
            </div>
        </div>
    </div>
    <div class="col-2" style="margin-left: 40px">
        <h1 class="serif" style="text-align:left"> CSS3</h1>
      </div>
    <div class="col-2 ">
        <img src="../images/css3_logo.png" class="img-circle" alt="Cinque Terre" width="50" height="50"> 
    </div>
    <div class="col-6">
      <div class="progress" style="margin-top: 20px; background-color:white">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            60%
            </div>
        </div>
    </div>
    <div class="col-2" style="margin-left: 40px">
        <h1 class="serif" style="text-align:left">Bootstrap</h1>
      </div>
    <div class="col-2 ">
        <img src="../images/logo-bootstrap.png" class="img-circle" alt="Cinque Terre" width="50" height="50"> 
    </div>
    <div class="col-6">
      <div class="progress" style="margin-top: 20px; background-color:white">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            60%
            </div>
        </div>
    </div>
    <div class="col-2" style="margin-left: 40px">
        <h1 class="serif" style="text-align:left">Android</h1>
      </div>
    <div class="col-2 ">
        <img src="../images/android-logo.png" class="img-circle" alt="Cinque Terre" width="50" height="50"> 
    </div>
    <div class="col-6">
      <div class="progress" style="margin-top: 20px; background-color:white">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            40%
            </div>
        </div>
    </div>
  </div>
</div>
<div class="div-span">
        <span class="span-style">Projets réalisés et stages</span>
  </div>


<div>
   <h4 class="titre1"> SpringMVC 4 - Angular 2| Autoformation| 1 personne | Février - Mars 2017</h4>
   <h5 class="paragraphe1"> Réalisation d'un site web qui présente les différents outils de développement web sur  lesquelles j'ai travaillé ,
  sous forme d'un gestionnaire des questions  avec des  réponses :</h5>
       <h5 class="paragraphe2">     - Développements du site et configuration de l'environnement de travail.</h5>
       <h5 class="paragraphe2"> - Lien HTTP:</h5>
       <h5 class="paragraphe2"> - Lien github backEnd:</h5>
       <h5 class="paragraphe2"> - Lien github FrontEnd:</h5>

      <h5 class="paragraphe3">   RESTful web service, SpringMVC-4, JPA, Hibernate, MySQL, Maven, Angular-2, HTML5, 
         CSS3, Bootstrap, Eclipse, visual studio code, Node.js.  
     </h5>
</div>
<div>
   <h4 class="titre1">Stage de fin d'étude | height computing | 2 personnes | Mars - Septembre 2016</h4>
   <h5 class="paragraphe1"> Développement d’un site paramétrable de gestion des demandes administratives :</h5>
   <h5 class="paragraphe2"> - Analyse du besoin et réalisation des diagrammes UML et du schéma de la base.</h5>
     <h5 class="paragraphe2">     - Développements du site et configuration de l'environnement de travail.</h5>
      <h5 class="paragraphe3">   RESTful web service, AngularJS, Spring, 
         Spring Security, JPA, Hibernate, MySQL, Maven, Git, HTML5, 
         CSS3, Bootstrap, Eclipse, Apache, LDAP, Scrum.   </h5>
</div>
<div>
   <h4 class="titre1">Projet Juke-box 2.0 | université de Rouen | 5 personnes | Septembre 2015 - Février 2016 :</h4>
   <h5 class="paragraphe1"> Réalisation d’une application Android de lecture de musique avec partage de fichiers et communication via Wi-Fi Direct.</h5>
   <h5 class="paragraphe2"> - Analyse du besoin et Développements.</h5>
      <h5 class="paragraphe3">  Agile (Scrum), Android Studio, Java, Wi-Fi Direct, web Service, Git.</h5>
</div>
 <div>
   <h4 class="titre1">Autres projets Septembre 2015 - Février 2016 :</h4>
   <h5 class="paragraphe2"> - Réalisation d’un forum en Java EE.</h5>
    <h5 class="paragraphe3"style="margin-left: 10%">  JSP, Servlet, jQuery, JavaScript, SQL, HTML5 et CSS3.</h5>
   <h5 class="paragraphe2"> - Réalisation d’une calculatrice scientifique.</h5>
    <h5 class="paragraphe3"style="margin-left: 10%">  Java Swing et MVC.</h5>
   <h5 class="paragraphe2" > - Développement d’un Serveur RMI.</h5>
 </div>
      <div>
   <h4 class="titre1">Stage de fin d’études | ISSATSO | 2 personnes | Janvier –> Juin 2014</h4>
   <h5 class="paragraphe1"> Développement d’un site web de gestion des arbres généalogiques.</h5>
      <h5 class="paragraphe3"> PHP, HTML, CSS, SQL, jQuery, Ajax et Eclipse.</h5>
      </div>  
      <div class="div-span">
        <span class="span-style">Formations</span></div>
        <div>
   <h4 class="titre1">2015/2016</h4>
   <h5 class="paragraphe1"> Master Informatique Génie de l’information et des Systèmes IGIS.  </h5>
      <h5 class="paragraphe3"> Université de Rouen.</h5>
      </div>
      <div>
   <h4 class="titre1">2011/2014</h4>
   <h5 class="paragraphe1"> Cycle d’ingénieur en Informatique .</h5>
      <h5 class="paragraphe3"> Université de Sousse/Tunisie.</h5>
      </div>
      <div>
   <h4 class="titre1">2009/2011</h4>
   <h5 class="paragraphe1"> Classe Préparatoire  Intégrée .</h5>
      <h5 class="paragraphe3"> Université de Sousse/Tunisie.</h5>
      </div>   
       <div class="div-span">
        <span class="span-style">Centres d'intétrêt</span></div>
        <div>
    <div class="container" style="margin-bottom: 20px; margin-left: 7%" >
    <div class="row ">
      <div class="col-2" style="margin-left: 40px">
            <img src="../images/b.png" class="img-circle" alt="Cinque Terre" width="200" height="150"> 
      </div>
      <div class="col-2" style="margin-left: 40px">
            <img src="../images/K.png" class="img-circle" alt="Cinque Terre" width="200" height="150"> 
      </div>
      <div class="col-2" style="margin-left: 40px">
            <img src="../images/f.png" class="img-circle" alt="Cinque Terre" width="200" height="150"> 
      </div>
      <div class="col-2" style="margin-left: 40px">
            <img src="../images/v.png" class="img-circle" alt="Cinque Terre" width="200" height="150"> 
      
    </div>
    </div>
   
</div>